@import "/src/styles/color";

.App {
  background-color: $bg;
  line-height: 1em;
}

body {
  line-height: 1.5em;
  font-family: 'Montserrat', sans-serif;
  background-color: $bg;
}

.Container {
    padding: 24px;
    width: 100%;
    background-color: $bg2;
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;
    margin-bottom: 20px;
}

h1 {
    font-size: 20px;
    font-weight: 500;
    color: $label;
    line-height: 1em;
    margin-bottom: 12px;
}

.counterWrapper {
  display: flex;
  padding: 0;
  align-items: baseline;
}

p {
    font-size: 24px;
    font-weight: 800;
    color: $label;
    line-height: 1em;
    margin-right: 12px;
}

.caption {
  margin-top: 10px;
  font-size: 14px;
  color: $label2;
  font-weight: 500;
}

.Text__count {
  font-size: 64px;
  font-weight: 800;
  color: $label;
  line-height: 1em;
  padding-right: 8px;
}

a {
  margin: 0 24px;
  width: fill;
  padding: 0 16px;
  height: 52px;
  display: flex;
  align-items: center;
  border: 2px solid $twitter;
  border-radius: 4px;
  background-color: $bg2;
  color: $twitter;
  text-decoration: none;
  p {
    font-size: 14px;
    font-weight: 800;
    color: $label;
    line-height: 1em;
    margin-right: 12px;
    color: $twitter;
    margin: auto;
  }
  :active {
    background-color: $bg2;
  }
}

header {
  padding: 40px 24px 24px;
  display: flex;
  align-items: center;
  p {
    font-size: 14px;
    font-weight: 800;
    color: $label2;
    margin-right: 8px;
  }
}

footer {
    p {
      font-size: 14px;
      font-weight: 500;
      color: $label2;
      padding: 48px 24px 64px;
    }
}